.ant-menu-item:hover,
.ant-menu-submenu-title:hover {
  background-color: transparent !important; /* Set the background color to transparent on hover */
  color: inherit !important; /* Inherit the text color on hover */
}

.drawer {
  backdrop-filter: blur(21px);
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}