.ant-menu-item:hover,
.ant-menu-submenu-title:hover {
  background-color: transparent !important;
  /* Set the background color to transparent on hover */
  color: inherit !important;
  /* Inherit the text color on hover */
}

* {
  font-family: 'Work Sans', sans-serif;
  padding: 0;
  margin: 0;
}

.drawer {
  backdrop-filter: blur(21px);
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.ant-spin .ant-spin-dot-item {
  background-color: black;
}

.ant-spin-nested-loading .ant-spin-blur {
  clear: unset;
  opacity: 1;
  user-select: unset;
  pointer-events: unset;
}

.ant-spin-blur::after{
  display: none;
}

.drop-detail-page .mapboxgl-canvas {
  border-radius: 24px;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}